// fix bug in 5.0.0 beta 
.cta-btns a {
  color: white !important;
}
.article-title {
  font-size: xx-large;
}

// override button ending in portfolio tag filter toolbar to work correctly in RTL
.btn-toolbar .btn:last-child {
  border-radius: 6px 0 0 6px !important;  	
}
.btn-toolbar .btn:first-child {
 	border-radius: 0 6px 6px 0 !important;
}

.navbar-nav {
	font-size: large;
}

.navbar-brand {
	font-size: x-large;
}

// Fix for RTL
#navbar-main .main-menu-item {
	text-align: right !important;
}

.network-icon li:last-of-type {
	margin-right: 10px;
}

.article-metadata a {
	margin-right: 0.4em;
}

.text-md-left {
	text-align: right !important;
}

.pr-1, .px-1 {
	padding-left: .25rem !important;
}

.ml-md-auto {
  margin-right: auto;
  margin-left: 30px !important;
}

ul.nav-icons li:last-of-type {
	padding-right: 30px;
	padding-left: 0;
}

.spoiler .btn, .spoiler .btn-primary:not(:disabled):not(.disabled):active:focus, .spoiler .btn-primary.active:not(:disabled):not(.disabled):focus {
  border: 0px !important;
  background-color: white !important;
  color: black;
  font-size: x-large;
  box-shadow: 0 0 0 0.0rem;
  text-align: right;
}
.spoiler_blue .btn, .spoilspoiler_blueer .btn-primary:not(:disabled):not(.disabled):active:focus, .spoiler_blue .btn-primary.active:not(:disabled):not(.disabled):focus {
  color: blue;
}

#TableOfContents ul {
  padding-right: 0;
}

ul.toc-top {
	padding-right: 0px;
}

#TableOfContents {
	padding-left: right;
  border-right: 1px solid #eee;
  border-left: none;
}

// override wordbreak rules for articles
.article-style {
	word-break: normal;
}

// Hide the floating toolbar on charts
.modebar-container {
  display: none;
}

figure {
  display: inline;
  margin: 1em, 1em, 1em, 1em;
}
// override default table
.article-container table {
  margin: 0 auto;
  display: table;
}

.article-container table thead {
  background-color: #dadada;
}

// Override table when there is a special marker before it
.article-container .table-headless + table thead {
  display: none;
}
.article-container .table-borderless + table > tbody > tr > td {
  border: 0;
}

.article-container .table-white + table thead {
  background-color:white !important;
}
.article-container .table-white + table tbody {
  background-color: white !important;
}
.article-container .table-white + table > tbody > tr:nth-child(odd) > td, .article-container .table-white + .article-container .table-white + table > tbody > tr:nth-child(odd) > th {
	background-color: white;
}
.article-container .table-white + table > tbody > tr:hover > td, table > tbody > tr:hover > th {
  background-color: white;
}

.article-container .table-grey + table thead {
  background-color: lightgrey !important;
}
.article-container .table-grey + table tbody {
  background-color: lightgrey !important;
}
.article-container .table-grey + table > tbody > tr:nth-child(odd) > td, .article-container .table-grey + table > tbody > tr:nth-child(odd) > th {
	background-color: lightgrey;
}
.article-container .table-grey + table > tbody > tr:hover > td, .article-container .table-grey + table > tbody > tr:hover > th {
  background-color: lightgrey;
}


// Hide menu item with target "hide"
a[href*="hide"] {
  display: none;
}

@import "twentytwenty-no-compass";