{{- define "main" -}}

{{ $current_page := . }}


<div class="container-fluid docs" style="max-width: 1800px;">
  <div class="row flex-xl-nowrap"></div>
  <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 docs-content" >{{ partial "page_header" . }}</div>
  <div class="row flex-xl-nowrap">

    {{/* Show ToC by default. */}}
    {{ if eq .Params.toc true }}
    <div class="d-none d-xl-block col-xl-3 docs-toc">
      <ul class="nav toc-top">
        <li><a href="#" id="back_to_top" class="docs-toc-title">{{ i18n "on_this_page" }}</a></li>
      </ul>

      {{ .TableOfContents }}

      {{ partial "docs_toc_foot" . }}
    </div>
    {{ end }}

    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 docs-content" role="main">
      
      <article class="article">

        
      
        <div class="article-container">
      
          <div class="article-style">
            {{ .Content }}
          </div>
      
          {{ partial "page_footer" . }}
      
        </div>
      </article>

      {{ partial "site_footer" . }}

    </main>
  </div>
</div>
{{- end -}}
